.chip-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  gap: 4px;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: white;
  padding: 5px 5px;
  border-radius: 20px;
}

.chip-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: var(--white-color);
  width: 26px;
  aspect-ratio: 1;
  border-radius: 100%;
}

.chip-icon-time {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.3px;
}
