.turn-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 600px;
  background-color: var(--secondary-color);
  box-shadow: rgba(66, 65, 68, 0.4) 0px 5px, rgba(13, 13, 13, 0.3) 0px 10px;
}
